body {
  margin: 5px;
  text-align: center;
}

.home {
  width: 100%;
  flex-grow: 1;
}

.task-list li {
  list-style-type: none;
}

.current-task {
  padding: 15px;
  margin-bottom: 5px;
  max-width: 300px;
  min-width: 300px;
}

.switch-label {
  text-align: right;
}

.add-task {
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

.add-task .submit-btn {
  border-radius: 40%;
  width: 100px;
  height: 70px;
}

.submit-btn {
  margin-top: 200px;
}

.add-task input[type="text"].title {
  border: none;
  border-bottom: 1px solid #bcbdbe;
  border-radius: 0%;
}

.timer-label {
  margin-left: 10px;
}

.switch-label {
  margin-left: -30px;
}

.add-task .timer-text {
  border: none;
  padding: 5px;
  width: 100%;
  text-align: right;
}

.add-task input[type="checkbox"] {
  margin-right: 5px;
}

.custom-toggle-switch {
  appearance: none;
  background-color: black;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 0.75rem;
}

.custom-toggle-switch:checked {
  background-color: #212529;
}

.add-task input {
  margin-bottom: 30px;
}

.add-task .day-btn {
  margin-bottom: 20px;
  border-radius: 0%;
}

.completed {
  text-decoration: line-through;
}

.progress-bar {
  margin-bottom: 5px;
  border-radius: 0%;
  border: 1px solid transparent;
}

.fa-circle-check {
  color: #000;
  cursor: pointer;
  font-size: xx-large;
}

.fa-angle-left {
  color: #000;
}

.fa-angle-left:hover {
  text-decoration: underline;
}

.icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}

.icon-button i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.tasks .task {
  max-width: 100px;
  min-width: 100px;
}

.alarm-play-btn {
  display: none;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}

.task-timer span {
  font-size: 14px;
  padding: 3px;
}

.task-timer {
  margin-bottom: 5px;
}

.next-two-tasks .tasks {
  list-style-type: none;
}

.next-two-tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

.next-two-tasks .tasks li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.next-two-tasks .task-timer span {
  display: none;
}

.next-two-tasks .task-timer {
  color: #fff;
}