body {
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.task-list li {
  list-style-type: none;
}

.completed {
  background-color: rgb(25, 150, 139);
  text-decoration: line-through;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}

.add-task-link {
  margin-bottom: 5px;
}

.task-add-form-container {
  max-width: 400px;
}