body {
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.task-details {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.task-list li {
  list-style-type: none;
}

.current-task {
  padding: 15px;
  margin-bottom: 5px;
}

.completed {
  text-decoration: line-through;
}

.progress-bar {
  margin-bottom: 5px;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}

.task-timer span {
  font-size: 14px;
  padding: 3px;
}

.task-timer {
  margin-bottom: 5px;
}

.next-two-tasks .tasks {
  list-style-type: none;
}

.next-two-tasks .tasks li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  margin-right: 5px;
}